.jumbotron{
	background-color: #4286f4;
	color: black;
	margin-top: 50px;
}
.btn{
	background-color: green;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: #efc640;
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-event{
	flex: 1 150px;
}

.btn-mas{
	border-radius: 0px;
	width: 100%;
}
.tab-content{
	padding-top: 10px;
}


.carousel-item{
	width: auto;
}

.fade:not(.show) {
    opacity: 1;
}
.btn-link {
    color: #fFf;
}